body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #353837;
  color: #fafafa;
}

h2 {
  color: rgb(230, 175, 175);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
h3 {
  color: rgb(143, 121, 121);
}

table {
  color: rgb(143, 121, 121);
}

#alerta {
  color: red;
}

header {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

footer {
  text-align: center;
  font-style: oblique;
  color: rgb(35, 209, 151);
  text-decoration: none;
}

a:visited {
  color: rgb(172, 109, 27);
}

a {
  text-decoration: none;
  color: yellow;
}

a:hover {
  color: red;
}
