body {
  background-color: beige;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
input {
  padding: 15px;
  margin: 5px;
  border: none;
}
button {
  height: 40px;
  width: 90px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 3%;
}

img {
  position: absolute;
  top: 57%;
  left: 35%;
  opacity: 50%;
  width: 30%;
  height: auto;
  border-radius: 50%;
}
